.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clean {
    list-style: none;
}
.gap{
    gap:10px
}
