
// COLOR PALETTE
//SITE
$clr1: #333333;
$clr2: whitesmoke;
$white: #ffffff;
$grey: #c4c4c4;
$transGrey: #c4c4c46b;
$blue: #2196f3;

// LAYOUT BREAKPOINTS
$break-mobile: 540px;
$break-narrow: 740px;
$break-normal: 985px;
$break-wide: 1300px;


