// COLOR PALETTE
//SITE
$clr1: #666666;
$clr2: whitesmoke;
$clr3: #f3f3f3;
$white: #ffffff;
$grey: #fafbff;
$blue: #5291eb;
$darkBlue: #4a545f;

// LAYOUT BREAKPOINTS
$break-mobile: 520px;
$break-narrow: 740px;
$break-normal: 920px;
$break-wide: 1180px;
