.app-menu {
    width: 380px;
    min-width: 180px;
    background-color: $white;
    @include for-wide-layout {
        width: 270px;
    }
    h1 {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .app-menu-top {
        gap: 20px;
        padding: 15px;
    }
    .toggle-btn {
        cursor: pointer;
        display: none;
        position: absolute;
        top: 8px;
        right: -12px;
        width: 25px;
        height: 25px;
        background: $darkBlue;
        border-radius: 50%;
    }
    @include for-normal-layout {
        position: absolute;
        height: calc(100vh - 53px);
        transform: translateX(-255px);
        transition: transform 0.3s ease-out;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .resource-preview {
            display: none;
        }
        .toggle-btn {
            display: flex;
            transform: rotate(0deg);
            transition: transform 0.5s;
        }
        &.open {
            transform: translateX(0px);
            .resource-preview {
                display: flex;
            }
            .toggle-btn {
                transform: rotate(180deg);
            }
        }
    }
}
