.app-header {
    background-color: $darkBlue;
    color: $white;
    gap: 20px;
    padding: 10px;
    img{
        width: 130px;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 400;
    }
}
