.app-header {
    background-color: $clr1;
    padding: 0 105px;
    @include for-narrow-layout {
        padding: 0;
        max-width: 100vw;
    }
    color: $clr2;
    h1 {
        margin: 0;
        font-size: 3rem;
        cursor: pointer;
        &:hover {
            text-shadow: 0 0 10px $transGrey;
        }
    }
    nav {
        gap: 1rem;
        @include for-narrow-layout {
            gap: 0.5rem;
        }
        span {
            font-size: 1.1rem;
            cursor: pointer;
            transition: color 0.2s;
            &:hover {
                color: $grey;
            }
        }
    }
}
