.resource-search {
    display: flex;
    align-items: center;
    justify-content: center;
    .search-bar {
        display: flex;
    }
    .search-bar input {
        outline: none;
        width: 100%;
        border: solid 3px $white;
        box-sizing: border-box;
        font-size: 2em;
        height: 2em;
        padding: 0.5em;
        transition: border 0.3s ease-in;
        border: solid 2px transparent;
    }

    .search-bar input:focus {
        border: solid 2px $blue;
    }

    .search-bar button {
        width: 80px;
        background: $blue;
        font-size: 1.3em;
        border: 1px solid $grey;
        border-left: none;
    }

    .search-bar button:hover {
        background: darken($blue, 10%);
    }
}
