.resource-search {
    display: flex;
    align-items: center;
    justify-content: center;
    .search-bar {
        flex: 1;
        display: flex;
        position: relative;
        input {
            background-color: #fafafa;
            outline: none;
            width: 100%;
            padding: 6px 3px;
            font-size: 0.9em;
            font-family: roboto-regular;
            transition: border 0.3s ease-in;
            border: solid 2px transparent;
            &::placeholder {
                color: darken($clr3, 25);
            }
            &:focus {
                border: solid 2px $blue;
            }
        }
        img{
            position: absolute;
            top: 50%;
            bottom: 50%;
            right: 2px;
            transform: translate(-50%, -50%);
        }
    }
}
